<form class="filter-panel-pf-category">
    <fieldset class="checkbox filter-panel-pf-category-items">
        <legend class="filter-panel-pf-category-title">Categories</legend>
        <div class="oh-category-item ">
            <button class="oh-category-item__select selected">Fundamentals</button>
        </div>
        <div class="oh-category-item ">
            <button class="oh-category-item__select">Tooling</button>
        </div>
        <div class="oh-category-item ">
            <button class="oh-category-item__select">Developer Experience</button>
        </div>
        <div class="oh-category-item ">
            <button class="oh-category-item__select">CI/CD</button>
        </div>
    </fieldset>
</form>
<form class="filter-panel-pf-category">
    <fieldset class="checkbox filter-panel-pf-category-items">
        <legend class="filter-panel-pf-category-title">types</legend>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Altinity"><input type="checkbox">Templates<span class="item-count">(2)</span></label></div></div>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Anchore"><input type="checkbox">Testing<span class="item-count">(1)</span></label></div></div>
<!--
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Appranix"><input type="checkbox">Appranix<span class="item-count">(1)</span></label></div></div>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Appsody"><input type="checkbox">Appsody<span class="item-count">(1)</span></label></div></div>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Aqua Security"><input type="checkbox">Aqua Security<span class="item-count">(1)</span></label></div></div>
-->
    <button type="button" class="btn btn-link">Show 2 more</button>
    </fieldset>
</form>
