{{ define "main" }}
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "labs") }}
        {{ range $paginator.Pages }}
             {{ $page_id := .RelPermalink | replaceRE "(/)" "_"}}
             <a href="{{ .Permalink }}" class="index-anchor" id="{{ $page_id }}">
                <div class="labcard-tile" id="{{ $page_id }}">
                  
                  {{ if .Params.img }}
                  <img class="labcard-tile-image" src="{{ .Site.BaseURL }}/images/{{ .Params.img }}" alt="{{ .Title }}">
                  {{ else }}
                  <img class="labcard-tile-image" src="{{ .Site.BaseURL }}/images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
                  {{ end }}
                  <span class="labcard-tile-body labcard-tile-metadata labcard-tile-pull-right">
                    {{ if .Params.template }}<small><i class="fa fa-file" aria-hidden="true"></i><!--<b>Template</b>--></small>{{ end }}
                    {{ if .Params.test }}<small><i class="fa fa-wrench" aria-hidden="true"></i><!--<b>Testing</b>--></small>{{ end }}
                  </span>
                
                  <div class="labcard-tile-body">
                    <h3 class="labcard-tile-title-text">{{ .Title | truncate 25 }}</h3></span>
                  </div>

                  <div class="labcard-tile-body">
                    <span class="labcard-tile-title-text">{{ if .Params.duration }}<small><i class="fa fa-hourglass-half " aria-hidden="true"></i></small>&nbsp;&nbsp;{{ .Params.duration }}{{ end }}</span>
                    <span class="labcard-tile-metadata"><small>{{ .Date.Format "January 2, 2006" }}</small></span>
                  </div>
                  
                  {{ if .Params.description }}
                  <div class="labcard-tile-summary-text">
                    <small>{{ .Params.description | plainify | truncate 80 }}</small>
                  </div>
                  {{ else }}
                  <div class="labcard-tile-summary-text">
                    <small>{{ .Summary | plainify | truncate 80 }}</small>
                  </div>
                  {{ end }}
                </div>
                </a>
          {{ end }}


<!--
<div class="row">
    <div class="col-md-3">  </div>
    <div class="col-md-3">
        {{ if gt .Paginator.TotalPages 1 }}
        <ul class="pagination">
          {{ if .Paginator.HasPrev }}
            <li><a href="{{ .Paginator.Prev.URL }}">&laquo; Prev</a></li>
          {{ else }}
            <li><span>&laquo; Prev</span></li>
          {{ end }}

          {{ $scratch := newScratch }}
          {{ $scratch.Set "current" .Paginator.PageNumber }} 

          {{ range .Paginator.Pagers }}
            {{ if eq .PageNumber ($scratch.Get "current") }}
              <li class="active"><span><em>{{ .PageNumber }}</em></span></li>
            {{ else }}
            <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ end }}
          {{ end }}

          {{ if .Paginator.HasNext }}
            <li><a href="{{ .Paginator.Next.URL }}">Next &raquo;</a></li>
          {{ else }}
            <li><span >Next &raquo;</span></li>
          {{ end }}
          </ul>
        {{ end }}

    </div>
    <div class="col-md-3">  </div>
</div>
</div>
-->
<div>
  <ul id="results">
  </ul>
</div>
{{ end }}
