
.page_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 534px);
    box-sizing: border-box;
}

.page_contents_inner{
    padding: 0 15px;
    width: 90%;
}
@media (min-width: 1700px){
    .page_contents_inner{
        width: 1700px;
    }
}

.hub_page{
    box-sizing: border-box;
    background: transparent;
    display: flex;
    padding: 20px 0 0;
}

.hub_page_filters{
    display: none;
    width: 220px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
}
@media (min-width: 480px){
    .hub_page_filters {
        display: block;
    }
}

.hub_page_content{
    box-sizing: border-box;
    flex: 1;
    padding: 0;
}
@media (min-width: 480px){
    .hub_page_content {
        padding: 0;
    }
}

.hub_page_content_tiles{
    flex-direction: column;
    align-items: center;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    ox-sizing: border-box;
}
@media (min-width: 480px){
    .hub_page_content_tiles {
        flex-direction: row;
    }
}

.filter_panel{
    padding-left: 0;
    padding-top: 5px;
    margin: 0 0 30px;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
}

/* FILTERS */
.filter-panel-pf-category{
    display: block;
    box-sizing: border-box;
    margin-top: 0;
}

.filter-panel-pf-category-items {
    margin-top: 0;
    margin-bottom: 0;
}

.filter-panel-pf-category-title {
    margin-bottom: 10px;
    color: #b6b6b6;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 0;
}

.oh-category-item {
    border-radius: 4px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.oh-category-item.selected, .oh-category-item:hover {
    background-color: #eaeaea;
}
.oh-category-item.selected .oh-category-item__select, .oh-category-item:hover .oh-category-item__select {
    color: #1991eb;
}

.oh-category-item__select {
    background: transparent;
    border: none;
    padding: 2px 5px;
    text-align: left;
    flex: 1;
    overflow: visible;
    margin: 0;
}


/* END FILTERS */

.labcard-row {
    margin-left: -15px;
    margin-right: -15px;
//    display: -webkit-inline-flex;
//    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
//    -webkit-flex-wrap: wrap;
}

.labcard-tile-container{
    align-items: center;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
}

// Boxes with content in _default/list.html
.labcard-tile {
    height: 240px; //360px; // JORGE: Added fixed height for the panel in list
    width: 240px;
    margin-bottom: 2em;
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
    transition: all 0.3s ease;
    margin: 0 15px 15px 0;
    &:hover, &:focus, &:active {
      box-shadow: 
        0px 1px 0px #ccc,
        0px 2px 0px #c9c9c9,
        0px 3px 0px #bbb,
        0px 4px 0px #b9b9b9,
        0px 6px 0px rgba(0,0,0,.1),
        0px 1px 0px rgba(0,0,0,.3),
        0px 3px 0px rgba(0,0,0,.2),
        0px 5px 0px rgba(0,0,0,.25),
        0 7px  7px rgba(0,0,0,.1),
        0 8px  7px rgba(0,0,0,.1),
        0 9px  9px rgba(0,0,0,.1),
        0 10px  10px rgba(0,0,0,.15),
        0 15px  15px rgba(0,0,0,.16),
    }
}

.labcard-tile-image{
    height: 40px;
    min-width: 40px;
    max-width: 80px;
    vertical-align: middle;
    margin: 10px 10px 10px 10px;
}

.labcard-tile-body {
    padding: 5px 10px 0px 10px;
    margin-top: 10px;
}

.labcard-tile-metadata {
    color: $grey-color;
}

.labcard-tile-pull-right {
    float: right !important;
}

.labcard-tile-pull-left {
    float: left !important;
}

.labcard-tile-title-text {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.labcard-tile-summary-text {
    padding: 5px 15px;
    margin-top: 10px;
    //overflow-wrap: break-word;
}