<form class="filter-panel-pf-category">
    <fieldset class="checkbox filter-panel-pf-category-items" id="tags">
        <legend class="filter-panel-pf-category-title">Tags</legend>
        <!-- // This is filled by Javascript above -->
    </fieldset>
</form>

<form class="filter-panel-pf-category">
    <fieldset class="filter-panel-pf-category-items" id="difficulty">
        <legend class="filter-panel-pf-category-title">Difficulty</legend>
        <!-- // This is filled by Javascript above -->
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Altinity"><input type="checkbox" class="_filter_difficulty_checkboxes" id="_difficulty_beginner" onclick="doSearch()">Beginner<span class="item-count"><!--(9)--></span></label></div></div>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Altinity"><input type="checkbox" class="_filter_difficulty_checkboxes" id="_difficulty_intermediate" onclick="doSearch()">Intermediate<span class="item-count"><!--(9)--></span></label></div></div>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Altinity"><input type="checkbox" class="_filter_difficulty_checkboxes" id="_difficulty_advanced" onclick="doSearch()">Advanced<span class="item-count"><!--(9)--></span></label></div></div>
        <div class="filter-panel-pf-category-item"><div class="checkbox"><label title="Altinity"><input type="checkbox" class="_filter_difficulty_checkboxes" id="_difficulty_extreme" onclick="doSearch()">Extreme<span class="item-count"><!--(9)--></span></label></div></div>
    </fieldset>
</form>