<header class="site-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <img height="64" src="{{web.site.baseUrl}}/images/{{web.site.img}}" alt="">
          <a class="navbar-brand" href="{{web.site.baseUrl}}/">{{web.site.title}}</a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <!-- Search form -->
        {{^no-search}}
        {{>layout/search}}
        {{/no-search}}

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/pages/install/">
              <i class='fa fa-bolt'></i>
              <span>Install</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://eduk8s.readthedocs.io/">
              <i class='fa fa-road'></i>
              <span>Read the docs</span>
            </a>
          </li>
          <li>
            <a href="/pages/about/">
              <i class='fa fa-bookmark'></i>
              <span>About</span>
            </a>
          </li>
          <li>
            <a href="/pages/contact/">
              <i class='fa fa-user-circle'></i>
              <span>Contact</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Contribute <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a target="_blank" href="https://github.com/eduk8s">Project</a></li>
              <li><a href="https://github.com/eduk8s/eduk8s-operator">Operator</a></li>
              <li role="separator" class="divider"></li>
              <li><a target="_blank" href="https://github.com/eduk8s-labs">Labs</a></li>
              <li><a target="_blank" href="https://github.com/eduk8s-tests">Tests</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>