{{#workshops}}
<a href="/workshops/{{ uid.encodedUID }}/" class="index-anchor" id="{{name}}">
    <div class="labcard-tile">

        {{#logo.logo}}
            {{#logo.dataUri}}
            <img class="labcard-tile-image" src="{{logo.logo}}" alt="{{title}}">
            {{/logo.dataUri}}
            {{^logo.dataUri}}
            <img class="labcard-tile-image" src="{{web.site.baseUrl}}/images/{{logo.logo}}" alt="{{title}}">
            {{/logo.dataUri}}
        {{/logo.logo}}
        {{^logo.logo}}
        <img class="labcard-tile-image" src="{{web.site.baseUrl}}/images/{{web.page.defaultImage}}" alt="{{title}}">
        {{/logo.logo}}
        <span class="labcard-tile-body labcard-tile-metadata labcard-tile-pull-right">
            {{#template }}<small><i class="fa fa-file" aria-hidden="true"></i>
                <!--<b>Template</b>--></small>{{/template}}
            {{#test }}<small><i class="fa fa-wrench" aria-hidden="true"></i>
                <!--<b>Testing</b>--></small>{{/test}}
        </span>

        <div class="labcard-tile-body">
            <h3 class="labcard-tile-title-text">{{title}}</h3></span>
        </div>

        <div class="labcard-tile-body">
            <span class="labcard-tile-title-text">{{#duration}}<small><i class="fa fa-hourglass-half "
                        aria-hidden="true"></i></small>&nbsp;&nbsp;{{ duration }}{{/duration}}</span>
            <span class="labcard-tile-metadata"><small><!--DATE--></small></span>
        </div>

        {{#description}}
        <div class="labcard-tile-summary-text">
            <small>{{description}}</small>
        </div>
        {{/description}}
    </div>
</a>
{{/workshops}}