{{#workshop}}
<div class="row">
    <div class="col-md-3 mt10">
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/workshops/{{uid.encodedUID}}/launch/">
                        <img width="200" src='{{web.site.baseUrl}}/images/launch_button.png' alt="Launch Workshop"></img>
                    </a>
                </li>
            </ul>
        </div>

        <div>
            {{#logo.logo}}
            {{#logo.dataUri}}
            <img width="200" src="{{logo.logo}}" alt="{{title}}">
            {{/logo.dataUri}}
            {{^logo.dataUri}}
            <img width="200" src="{{web.site.baseUrl}}/images/{{logo.logo}}" alt="{{title}}">
            {{/logo.dataUri}}
            {{/logo.logo}}
            {{^logo.logo}}
            <img width="200" src="{{web.site.baseUrl}}/images/{{web.page.defaultImage}}" alt="{{title}}">
            {{/logo.logo}}
        </div>

        <div class="mt10">
            {{ #url }}
            <i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="{{ url }}">{{ url }}</a>
            {{ /url }}
        </div>
    </div>

    <div class="col-md-8">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <h1 class="post-title" itemprop="name headline">{{ title }}</h1>
                <p class="post-meta"><time datetime='January 2, 2006' itemprop="datePublished">January 2, 2006</time>
                    {{#author}}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                            itemprop="name">{{author}}</span></span>
                    {{/author}}
                </p>
            </header>

            <div class="post-content" itemprop="articleBody">
                <p>If you want to review the workshop content, you can browse the files and subdirectories under <a
                        href="{{ url }}/tree/master/workshop/content">workshop/content</a>.</p>

                <h2 id="install-the-workshop">Install the workshop</h2>
                <p>To deploy the workshop, <a href="/pages/install/">install the eduk8s operator</a>, then run:</p>
                <div class="highlight">
                    <pre
                        style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash">kubectl apply -f {{url}}</code></pre>
                </div>

                <!--                
                { { if .Params.install_notes } }
                <aside class="box">
                    <div>
                        <p>{ { .Params.install_notes } }</p>
                    </div>
                </aside>
                { { end } }
                -->
                <h2 id="delete-the-workshop">Delete the workshop</h2>
                <p>To delete the workshop when finished, run:</p>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:2;-o-tab-size:2;tab-size:2"><code class="language-bash" data-lang="bash">kubectl delete -f {{url}}
            </code></pre>
                </div>
                <h2 id="example-workshop">Example workshop</h2>
                <p>If you want to manually create an instance of the workshop, just create an instance of this CRD with
                    the following content:</p>
                <div class="highlight">
                    <pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:2;-o-tab-size:2;tab-size:2"><code class="language-yaml" data-lang="yaml">
kind: Workshop
metadata:
  name: {{name}}
spec:
  vendor: {{vendor}}
  title: {{title}}
  description: {{description}}
  url: {{url}}
  image: {{image}}
  duration: {{duration}}
  session:
    budget: medium
            </code></pre>
                </div>
            </div>
        </article>
    </div>
</div>
{{/workshop}}