<div class="col-md-4 mt20">
        <div class="post-img">
           {{ if .Params.img }}
            <img width="600" src="{{ .Site.BaseURL}}/images/{{ .Params.img }}" alt="{{ .Params.title }}">
            {{ else }}
            <img width="600" src="{{ .Site.BaseURL }}/images/{{ .Site.Params.defaultImage }}" alt="webjeda">
            {{ end }}
        </div>
            
        {{ if .Params.githuburl }}
        <div class="mt10">
            <i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<a href="{{ .Page.Params.githuburl}}">{{ .Page.Params.githuburl}}</a>
        </div>
        {{ end }}
        <br>

</div>