<header class="site-header">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
         {{ if .Site.Params.img }}
         <img width="128" src="{{ .Site.BaseURL}}images/{{ .Site.Params.img }}" alt="">
         {{ end }}
         <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <!-- Search form --> 
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

            <ul class="nav navbar-nav navbar-right">
              {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $url := urls.Parse .URL }}
        {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
            {{ if .HasChildren }}
                <li class='{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
                    <a href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                            <a {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }} href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }} href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribute <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="https://github.com/eduk8s">Project</a></li>
            <li><a href="https://github.com/eduk8s/eduk8s-operator">Operator</a></li>
            <li role="separator" class="divider"></li>
            <li><a target="_blank" href="https://github.com/eduk8s-labs">Labs</a></li>
            <li><a target="_blank" href="https://github.com/eduk8s-tests">Tests</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
