<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Launch Workshop - eduk8s hub</title>

  <link rel="stylesheet" href="/sass/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>

  <script type="text/javascript" src="/js/lunr.min.js"></script>
  <script type="text/javascript" src="/js/fuse-5_1_0.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>


<body>
  <a href="{{launch-url}}">Launch Workshop</a>
</body>

</html>