<div class="content-area">

  <div class="post-title">
    <h1>About</h1>
  </div>

  <div class="post-content">
    <p>We always thought that Kubernetes was difficult to grasp. We&rsquo;ve been fighting for some
      years to bring some sense to the project, but since we don&rsquo;t know the <strong>Go</strong>
      language, we dediced that it was better to show people how they could use the platform and tools
      in the ecosystem.</p>
    <p>This is how <strong>eduk8s</strong> was born. We needed a platform that would allow us to teach
      people the usage of Kubernetes and the Cloud Native Foundation Landscape. We wanted our platform
      to be yet another Cloud Native application that would run on Kubernetes and would use many of the
      capabilities provided by it.</p>
    <p>Feel free to use any of the workshops/labs in this site. Follow the instructions on how to have
      them running, installing, uninstalling, and if you ever have a specific requirement you can either
      fill an issue on <a href="https://github.com/eduk8s">Github</a> or send us a <a
        href="https://twitter.com/eduk8sio">tweet</a></p>

  </div>

</div>