<div class="content-area">

  <div class="post-title">
    <h1>Contact</h1>
  </div>

  <div class="post-content">
    <p>We are a set of enthusiastic Cloud Native Developer Advocates working for an important company
      that like to teach people about Cloud Native technologies on the Kubernetes ecosystem.</p>
    <p>The team is formed by:</p>
    <ul>
      <li><strong><a href="https://twitter.com/gshipley">Grant Shipley</a></strong>: The Kubernetes Kingpin</li>
      <li><strong><a href="https://twitter.com/grahamdumpleton">Graham Dumpleton</a></strong>:
        Grumpleton for his friends. Always complaining but doing most of the hard work.</li>
      <li><strong><a href="https://twitter.com/jorgemoralespou">Jorge Morales</a></strong>: The
        catalyst. Doesn&rsquo;t like to work but makes sure people does the work.</li>
      <li><strong><a href="https://github.com/danielhelfand">Daniel Helfand</a></strong>: He
        runs all the time, but when he&rsquo;s not running you can see him around Tekton.</li>
      <li><strong><a href="https://twitter.com/stephenaugustus">Stephen Augustus</a></strong>: The
        releaser. He releases everything at his hands. Even a tweet every 5 minutes.</li>
    </ul>
    <p>If you would like to get in touch with us, just gives us a call.</p>
  </div>
</div>