<div class="clr-row clr-justify-content-around">
    <div class="clr-col-4">
        <span>All rights reserved by <a target="_blank"
                href="{{ web.copyright.link }}">{{ web.copyright.name }}</a></span>
    </div>
    <div class="clr-col-6">
        <button class="btn btn-link">
            <a target="_blank" href="{{web.twitter}}">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
        </button>

        <button class="btn btn-link">
            <a target="_blank" href="{{web.github}}">
                <i class="fa fa-github-square fa-2x"></i>
            </a>
        </button>
    </div>
</div>
